@import "tailwindcss";

:root {
  --background: #252422;
  --foreground: #fffcf2;
}

@theme {
  --color-sea-green: #D1F8EF;
  --color-custom-green: #70B2B2;
  --color-spicy-paprika: #eb5e28;
  --color-button-green: #00bf9a;

  --color-button-hover: #008a6f;
  --color-button-active: #04e8bb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-sea-green);
    --foreground: var(--color-floral-white);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, Helvetica, sans-serif;
}
