@import "tailwindcss";

:root {
  --background: #252422;
  --foreground: #fffcf2;
}

@theme {
  --color-carbon-black: #D1F8EF;
  --color-brown: #ffffff;
  --color-custom-orange: #70B2B2;
  --color-floral-white: #9ECFD4;
  --color-spicy-paprika: #eb5e28;

  --color-button-hover: #d55525;
  --color-button-active: #eb5e28;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-carbon-black);
    --foreground: var(--color-floral-white);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
